[tool.poetry]
name = "novae"
version = "0.2.4"
description = "Graph-based foundation model for spatial transcriptomics data"
documentation = "https://mics-lab.github.io/novae/"
homepage = "https://mics-lab.github.io/novae/"
repository = "https://github.com/MICS-Lab/novae"
authors = ["Quentin Blampey <quentin.blampey@gmail.com>"]
packages = [{ include = "novae" }]
license = "BSD-3-Clause"
readme = "README.md"
classifiers = [
  "License :: OSI Approved :: BSD License",
  "Operating System :: MacOS :: MacOS X",
  "Operating System :: POSIX :: Linux",
  "Operating System :: Microsoft :: Windows",
  "Programming Language :: Python :: 3",
  "Topic :: Scientific/Engineering",
]

[tool.poetry.dependencies]
python = ">=3.10,<3.13"
scanpy = ">=1.9.8"
lightning = ">=2.2.1"
torch = ">=2.2.1"
torch-geometric = ">=2.5.2"
huggingface-hub = ">=0.24.0"
safetensors = ">=0.4.3"
pandas = ">=2.0.0"

wandb = { version = ">=0.17.2", optional = true }
black = { version = ">=22.8.0", optional = true }
flake8 = { version = ">=7.0.0", optional = true }
isort = { version = ">=5.10.1", optional = true }
pytest = { version = ">=7.1.3", optional = true }
pytest-cov = { version = ">=5.0.0", optional = true }
pyyaml = { version = ">=6.0.1", optional = true }
ipykernel = { version = ">=6.22.0", optional = true }
ipywidgets = { version = ">=8.1.2", optional = true }
mkdocs-material = { version = ">=8.5.6", optional = true }
mkdocs-jupyter = { version = ">=0.21.0", optional = true }
mkdocstrings = { version = ">=0.19.0", optional = true }
mkdocstrings-python = { version = ">=0.7.1", optional = true }
pydantic = { version = ">=2.8.2", optional = true }
pre-commit = { version = ">=3.8.0", optional = true }

[tool.poetry.extras]
dev = [
  "wandb",
  "pytest-cov",
  "pre-commit",
  "coverage",
  "black",
  "pydantic",
  "flake8",
  "isort",
  "pytest",
  "pyyaml",
  "ipykernel",
  "ipywidgets",
  "mkdocs-material",
  "mkdocs-jupyter",
  "mkdocstrings",
  "mkdocstrings-python",
  "griffe",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = ["tests"]
python_files = "test_*.py"

[tool.black]
line-length = 120
include = '\.pyi?$'
exclude = '''
/(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
'''

[tool.isort]
profile = "black"
known_third_party = ["wandb"]
skip_glob = ["*/__init__.py"]

[tool.coverage.run]
source = ["novae"]
omit = ["**/test_*.py", "novae/monitor/log.py", "novae/monitor/callback.py"]
